.Logo{
    font-family: mcDonaldsFont;
    font-size: 200px;
    color: #ffc700;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slogan{
    color: white;
    font-family: 'Urbanist', sans-serif;
    font-size: 40px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}


*{
    background-color: red;
    cursor: default;
}